.places_list {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-left: 40px;
    
}
.trip-creator {
    display: inline-block;
}

#map {
    display: inline-block;
    width: 500px;
    height: 400px;

}
#cont {
    display: inline-block;  
}